/* 기본 */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SUIT';
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background: #F2F1EF;
    min-width: 1320px;
    
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

/* 헤더 */
.top {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    background: white;
}

header {
    background: #000;
}

.d1,
.d2>ul,
.d4>ul,
.d5,
.u4,
.d7,
.d8 ul,
.d10 ul,
.d-main ul,
.d13,
.d13-2 ul,
.d14-1-1,
.d15-1,
.d15-2,
.f1,
.f4 ul,
.f6,
.tab03-1{
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.d1 {
    width: 1100px;
    margin: auto;
    position: relative;
    text-align: center;
    justify-content: space-between;
}

.d1>ul {
    top: 0;
    right: 0;
}

.d2>ul {
    justify-content: right;
}

.u1>li {
    padding: 10px 10px 5px 0;

}

.u2>li {
    padding: 0px 0px 5px 60px;
}
.u2 li:hover a{
    color: #D9B064;
}

.d2>ul>li>a {
    color: white;
    font-weight: 300;
}

.li1 {
    border-radius: 20px;
    padding: 2px 20px;
    background-color: #8C713F;
}
.li1:hover{
    background-color: #A1670E;
}

.logo {
    margin-top: 15px;
}

/* 예약 */
.d3 {
    border-bottom: 5px solid #ccc;
    position: relative;
}

.active{
    display: block;
    
}
.tabcontent1{
    position: absolute;
    width: 100%;
    background-color: white;
    left: 0;
    top: 109%;
}

.d4 {
    width: 1100px;
    margin: auto;
    top: 140%;
    left: 0%;
    justify-content: space-between;
}

.d5 {
    width: 1100px;
    margin: auto;
}

.d6 {
    padding-top: 30px;
    
}

.d7 a {
    font-size: 20px;
    font-weight: 700;
}

.d8,
.d9 {
    margin-left: 20px;
    padding-top: 15px;
}

.d8 li,
.d9 a {
    padding: 0px 20px 30px 0;
    display: block;
}

.d8 img {
    padding-top: 5px;
}

.u3>li {
    padding: 0px 20px 0px 0;
    margin: 0 30px 0 0;
    position: relative;
}

.u3 div{
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #8C713F;
    display: none;
}
.u3 a.active div{
    display: block;
}
.tabcontent1 div{
    height: 120px;
}
.d10 {
    padding-top: 15px;
    margin-left: 93px;
}

.p1 {
    font-size: 17px;
    font-weight: 500;
    padding: 10px 0 10px 50px;
    background: url(../images/index/reservation.png) no-repeat 0% 50%;
}

.p2 {
    font-size: 17px;
    font-weight: 500;
    padding: 10px 0 10px 30px;
    background: url(../images/index/check-in.png) no-repeat 0% 50%;

}
.p2-1{
    font-size: 17px;
    font-weight: 500;
    padding: 10px 0 10px 30px;
    background: url(../images/index/Reservation\ Management.png) no-repeat 0% 50%;
}

.p3 {
    font-size: 15px;
    font-weight: 700;
    color: #afafaf;
}
.p4{
    display: block;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.li2 {
    margin-right: 10px;
    position: relative;
}

.li2-1{
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0;
}
.li2 a:hover .li2-1{
    opacity: 1;
    transition: 0.5s;
}
.li3 {
    margin-top: 15px;
    margin-right: 10px;
    font-size: 30px;
}

.li4 {
    font-size: 23px;
    font-weight: 700;
    color: #8C713F;
    padding-right: 5px;
}

.li5 {
    font-size: 16px;
    font-weight: 700;
    background: #a1660e5b;
    border-radius: 10px;
    padding: 5px 10px;
}

.d11 a {
    font-weight: 500;
    background: #8C713F;
    padding: 48px 65px 48px 65px;
    color: white;
}

.d11:hover a{
    background: #A1670E;
}
/* 항공편 죄회 */
.d11 {
    margin: 45px 0px 0 20px;
}

.tab02-1{
    text-align: center;
}

.tab02-1 a{
    display: inline-block;
    background: #8C713F;
    padding: 12px 140px 12px 140px;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
}
.tab02-1 a:hover {
    background: #A1670E;
} 
.tab02-1 div{
    width: 362.13px;
    margin: auto;
    text-align: left;
    margin-top: 10px;
}
.tab03-1{
    width: 1200px;
    margin: auto;
}
.tab03-1 a{
    display: inline-block;
    background: #8C713F;
    padding: 12px 0px 12px 0px;
    width: 360px;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
}
.tab03-1 a:hover {
    background: #A1670E;
} 
.tab03-1 div{
    width: 376px;
    margin: auto;
    text-align: left;
    margin-top: 10px;
}

/* 정보1 */
.d12 img{
    width: 100%;
}
.d13{
    width: 1200px;
    margin: 150px auto 80px;
}
.d13-1{
    font-size: 60px;
    font-weight: 900;
}
.d13-2{
    width: 1200px;
    margin: 0 auto 200px;
}
.d13-2 h1{
    margin-bottom: 30px;
}
.d13 img{
    width: 100%;
}

/* 정보2 */
.d14{
    width: 1320px;
    margin: auto;

}
.d14 img{
    width: 100%;
    margin-bottom: 100px;
}
.d14-1{
    height: 600px;
    margin: 20px;
    border: 5px #E7E8EC solid;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    padding: 0 30px;
}
.d14-1 p{
    flex: 1;
    margin: 20px 0 0 20px;
    padding: 10px 0 10px 60px;
}
.d14-1-1{
    margin-top: 30px;
    justify-content: space-between;
}
.d14-1-2{
    margin-top: 30px;
    padding-bottom: 50px;
    justify-content: space-between;
    border-bottom: 5px #E7E8EC solid;
}
.d14p1{
    background: url(../images/sub2/monitor.png) no-repeat 0% 50%;
}
.d14p2{
    background: url(../images/sub2/monitor\ size.png) no-repeat 0% 50%;
}
.d14p3{
    background: url(../images/sub2/USB.png) no-repeat 0% 50%;
}
.d14p4{
    background: url(../images/sub2/seat\ width.png) no-repeat 0% 50%;
}
.d14p5{
    background: url(../images/sub2/seat\ recline.png) no-repeat 0% 50%;
}
.d14p6{
    background: url(../images/sub2/seat\ spacing.png) no-repeat 0% 50%;
}
.d14p7{
    background: url(../images/sub2/power\ supply.png) no-repeat 0% 50%;
}

.d14-1 ul{
    margin: 50px 0;
}
.d14-1 ul li{
    margin-top: 20px;
    padding-left: 25px;
    background: url(../images/sub2/red\ check.png) no-repeat 0% 50%;
    font-size: 17px;
}

/* 정보3 */
.d15{
    width: 1320px;
    margin: 100px auto 100px;
}
.d15-1-1{
    justify-content: space-between;
    margin-left: 30px;
    padding: 20px;
}
.d15-1-1 h1{
    font-size: 24px;
    font-weight: 700;
}
.d15-1-1 p{
    margin-top: 10px;
    font-size: 20px;
}
.d15-2-1{
    justify-content: space-between;
    margin: 30px 30px 0 0;
    padding: 20px;
}
.d15-2-1 h1{
    font-size: 24px;
    font-weight: 700;
}
.d15-2-1 p{
    margin-top: 10px;
    font-size: 20px;
}

/* 푸터 */

footer {

    background-color: #000000;
    color: white;
}

.f0 {
    width: 1200px;
    margin: auto;
    padding: 10px;
}

.f0 a {
    display: inline-block;
    color: white;
}
.f0 a:hover{
    color: #D9B064;
}
.f1{
    margin: 30px 50px;
    justify-content: space-between;
}
.f2 a{
    padding: 8px 20px 8px 0;
}
.f3{
    font-weight: 700;
}
.f3 img{
    margin-right: 10px;
}
.f4 p{
    font-size: 20px;
    font-weight: 900;
}
.f5{
    padding: 20px;
    border-top: solid 5px #C1AA80;
}
.f6{
    width: 1200px;
    margin: auto;
    justify-content: right;
}
.f6 p{
    margin: 10px 20px 0 0;
    color: #8E8E8E;
    font-size: 20px;
    font-weight: 700;
}
.fa{
    background: url(../images/index/block2.png) no-repeat 100% 50%;
}
